{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <!-- Css - Стили -->
    <link rel="stylesheet" href="{% static 'mebel_app/assets/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'mebel_app/style/style.css' %}">
</head>

<body>
{% include 'components/_navbar.html' %}

{% include 'components/_navbar_2.html' %}
{% include 'components/_category.html' %}

<div class="wrapper">
    {% block slider %}
    {% include 'components/_slider.html' %}
   {% endblock slider %}

    <!-- /.header -->
    {% block main %}
    {% endblock main %}
    <!-- /.main -->
    {% include 'components/_footer.html' %}
    <!-- /.footer -->
</div>
<!-- /.wrapper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{% static 'mebel_app/scripts/script.js' %}"></script>
<script src="{% static 'mebel_app/scripts/slider.js' %}"></script>
<!-- Js - скрипты -->
</body>

</html>